<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>Hi do · 摇一摇</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/red.js"></script>
</head>
<body>
<!-- 红包音乐 -->
<audio id="shakemusic" src="music/red-01.mp3" style="display: none;"></audio>
<audio id="openmusic" src="music/red-02.mp3" style="display: none;"></audio>
<!-- End 红包音乐 -->
<!-- 红包 -->
<div class="red_bg">
	<div class="red-ts"></div>
	<div class="red-ss-bg">
		<span class="red-ss animated"></span>
	</div>
	<div class="red-jh ret-btn" >
		您还有<span class='last-time'>0</span>次机会
	</div>
	<div class="red-tc">
		<!-- 已中奖 -->
		<div class="red-yzj" style="display: none;">
			<div class="red-tc-k">
				<p class="jok-title">受伤的蜗牛</p>
				<p class="jok-text">乌龟受伤，让蜗牛去买药。过了两个小时，蜗牛还没回来。乌龟急了，骂道：“他妈的再不回来老子就死了!”这时门外传来了蜗牛的声音：“你他妈再说老子不去了!</p>
			</div>
			<div class="red-tc-btn">
				<button>再摇一摇</button>
			</div>
		</div>
		<!-- End 已中奖 -->
		<!-- 未中奖 -->
		<div class="red-yzj" style="display: none;">
			<div class="red-tc-k">
				<img src="img/red-bw.png">
				哎呀！</br>您今天五次机会用完了，注册Hi do可以获取更多更多精彩内容哦！
			</div>
			<div class="red-tc-btn red-close-btn"> <button>不了</button></div>
			<div class="red-tc-btn sign-up-btn"> <button>前往</button> </div>
		</div> 
		<!-- End 未中奖 -->
		<!-- 机会用光了 -->
		<div class="red-yzj" style="display: none;">
			<div class="red-tc-k">
				<img src="img/red-jh.png">
				机会用光了哦！</br>明天再来吧！
			</div>
			<div class="red-tc-btn">
				<button>返回主页</button>
			</div>
		</div> 
		<!-- End 机会用光了 -->
	</div>
</div>
<!-- End 红包 -->
<script type="text/javascript">
	loadtime();
	var jokes=[];
	var joke={title:"世界末日",text:"牧师问一对夫妇：如果五分钟后就到世界末日，你们想做什么事?丈夫兴致勃勃地回答：想做爱。太太白他一眼幽幽地说：那剩下的四分钟干什么?"};
	
	jokes.push({title:"口渴的儿子",text:"爸爸把儿子哄上床后，回到自己的卧室准备睡觉。“爸爸!”儿子叫道。“什么事儿?”“我口渴，给我拿杯水好吗?”“你刚才不是喝过了嘛!快睡觉，我已经关灯啦!” 五分钟后……“爸爸!我口渴，你就不能给我拿杯吗?”“我刚才不是说过了嘛!你再叫我揍你!”又过了五分钟……“爸爸!”“又怎么啦?”“你过来揍我的时候一定要带杯水!"});
	
	jokes.push({title:"好心的老人",text:"一个老头慢慢地沿街边走着，看到一个小孩踮着脚想按一个门铃，但还是差了一点。于是老头走过去和蔼地说：“小朋友，我来帮你按吧。”说着，老头就按响了门铃，直到确信里面的人能听见了才放开了手。这时，小孩急切地对老头说：“咱们赶快逃吧，快!"});
	
	jokes.push({title:"羡慕",text:"一兄得便秘，在厕所里久久不能如便，正在他极力努力的时候，看一哥们风一样的冲进厕所，进了他旁边的位置，刚进去就传来一真狂风暴雨，那兄羡慕的对那哥们说：“哥们，好羡慕你呀。”那哥们说：“羡慕啥，裤子还没脱呢!”"});
	jokes.push({title:"夜谈会",text:"某男生宿舍卧谈会持续至凌晨三点，忽然想讨论一个问题“碰到一个漂亮姑娘，首先该说什么?”某君从梦中惊醒，曰：“甭说了，咱们睡吧!"});
	jokes.push({title:"金针菇？",text:"一姑娘向一小伙子小伙子求婚，小伙羞怯的说：我的鸡鸡有点小，姑娘问：有蘑菇大吗？小伙答：有！新婚之夜姑娘冲出新房，仰天长叹！天哪！金针菇！"});
	jokes.push({title:"巨蛋",text:"一母鸡下了个巨蛋，新闻记者前来采访。母鸡羞涩不语，只好采访公鸡。公鸡挽起袖子，这件事我目前不发表评论，等爷把那只鸵鸟抓住再说！"});
	jokes.push({title:"丢了的猪",text:"都说女儿找了男朋友，父母会有自己辛辛苦苦种的白菜被猪拱了的伤感。可我弟弟自从找了女朋友，连家里都不回来住了，天天岳母娘给做好吃的，各种的乐不思蜀啊。老妈45°角仰望天空说：“白菜有没有拱着不知道，反正养了20多年的猪肯定是丢了。。。 "});
	jokes.push({title:"傲娇的面试",text:"某公司招聘员工，几百名大学生争相自报家门：“我北大”“我交大”“我浙大”突然有一女生喊道：“我胸大！”董事长一拍桌子说：“就是你了！”"});
	
	
	jokes.push({title:"真假美猴王",text:"西天取经，六耳猕猴混来进来，真假美猴王只有唐僧能分辨出来。 唐僧说:“为师想吃桃子。” 两猴犹豫了一下，都变成了桃子。 突然唐僧大喊:“八戒，给我拿下那只猕猴桃！"});
	jokes.push({title:"生日快乐",text:"女性好友生日，我们四个人商量零点发一条“生日快乐”给她，一人发一个字，我领到了第二个。 结果，他们都没发。"});
	jokes.push({title:"漂亮美眉",text:"某漂亮MM跑进游泳池时不小心挂破泳衣，众男生见状就瞪着她直瞧．．．此时漂亮MM沿着池边走，发觉有异，顺手抓起一块牌子遮住重点部位．．． 此时男生们哈哈大笑！漂亮MM觉得奇怪，后来发现牌子上写着”男士专用”，赶快换面。可是当她换面的时候，男士们笑声更大，原来．．．那牌子上写着”此处深二米”"});
	
	$(".red-tc-btn").on("click",function(){
		$('.red-tc').css('display', 'none');
		f=0;
	})
	
	
	$(".ret-btn").on("click",function(){
		$('.red-tc').css('display', 'block');
		$(".red-yzj").eq(loaddata()).show();
	})
	
	
	$(".red-close-btn").on("click",function(){
		$('.red-yzj').css('display', 'none');
	});
	
	$(".sign-up-btn").on("click",function(){
		window.location.href="/mob/index.do";
	})
	
	
// 	 window.localStorage.clear();
	var myStorage = window.localStorage;
// 	myStorage.setItem("joktimes",10);
	if(myStorage.getItem("joktimes")==null){
			myStorage.setItem("joktimes",10);
	}
	var jktime=parseInt(myStorage.getItem("joktimes"));
	$(".last-time").html(jktime>0?jktime:0);
	//定义摇一摇中奖
	var index=0;
	function loaddata(){
		shakeEvent();
		$(".red-yzj").hide();
		jktime=parseInt(myStorage.getItem("joktimes"));
		$(".last-time").html(jktime-1>0?jktime-1:0);
		index+=1;
		if(index>10){
			index=parseInt(10*Math.random());
		}
		if(jktime<0){
			return 1;
		}
		myStorage.setItem("joktimes",jktime-1);
		if(jktime>0){
			$(".jok-title").html(jokes[index].title);
			$(".jok-text").html(jokes[index].text);
			return 0;
		}else{
			return 1;
		}
	}
	var f=0;
	$(document).ready(function() {
		if (window.DeviceMotionEvent){
			var speed = 25;
			var audio = document.getElementById("shakemusic");
			var openAudio = document.getElementById("openmusic");
			var x = t = z = lastX = lastY = lastZ = 0;
			window.addEventListener('devicemotion',
				function () {
					var acceleration = event.accelerationIncludingGravity;
					x = acceleration.x;
					y = acceleration.y;
					if (Math.abs(x - lastX) > speed || Math.abs(y - lastY) > speed) {
						//开始摇晃
						if(f!=0){
							return false;
						}
						f=1;
						audio.play();
						$('.red-ss').addClass('wobble');
						
						setTimeout(function(){
							audio.pause();
							openAudio.play();
							$('.red-tc').css('display', 'block');
							$(".red-yzj").eq(loaddata()).show();
							$('.red-ss').removeClass('wobble');
						}, 1500);
						
						
					};
					lastX = x;
					lastY = y;
				},false);
		};
	});


	//摇一摇的次数
	function shakeEvent(){
		$.ajax({
			url:"/act/acttime.do",
			data:{actid:'1'},
			type:"POST",
			dataType:"json",
			success:function(data){
				if(data && data.retCd==0){
					console.log('保存成功');
// 					window.location.reload() ;
//						myApp.closeModal();
				}else{
					myApp.alert("提交失败，请稍后再试！");
				}
			},
			error:function(data){
				console.log(data);
			},
			complete:function(xml){
				console.log(xml);
			}
		});  	
		
	}	
// 	点击次数
	function loadtime(){
		$.ajax({
			url:"/act/loadtime.do",
			data:{actid:'1'},
			type:"POST",
			dataType:"json",
			success:function(data){
				if(data && data.retCd==0){
					console.log('成功点级一次');
// 					window.location.reload() ;
//						myApp.closeModal();
				}else{
					myApp.alert("提交失败，请稍后再试！");
				}
			},
			error:function(data){
				console.log(data);
			},
			complete:function(xml){
				console.log(xml);
			}
		});  	
		
	}
	
	
	
	
</script>
</body>
</html>