<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/static/js/**" location="/static/js/" />
	<mvc:resources mapping="/static/css/**" location="/static/css/" />
	<mvc:resources mapping="/static/images/**" location="/static/images/" />
	<mvc:resources mapping="/index.html" location="/index.html" />
	<mvc:resources mapping="/favicon.ico" location="/favicon.ico" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<mvc:annotation-driven />
	<!-- 开启自动扫描 -->
	<context:annotation-config />
	<context:component-scan base-package="com.crit"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />

		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />

		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />

	</context:component-scan>

	<!-- 完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->

</beans>